* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  



  .banner {
    background-image: url("../PAGE/image-le-nouveau-parc-dattraction-harry-potter-a-ouvert-ses-portes-1024x576.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 0 20px;
  }
  
  .banner-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .banner-description {
    font-size: 1.2rem;
    margin-bottom: 30px;
    max-width: 500px;
  }
  
  .banner-button {
    background-color: #fff;
    color: #4e0165;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .banner-button:hover {
    background-color: #e6d8f5;
  }

  .features {
    padding: 50px 0;
    text-align: center;
  }
  
  .features-title {
    font-size: 2rem;
    margin-bottom: 50px;
  }
  
  .feature-card {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    margin: 20px;
    display: inline-block;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .feature-card img {
    width: 100%;
    height: auto;
  }
  
  .feature-card h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .feature-card p {
    font-size: 1rem;
  }

  .testimonials {
    padding: 50px 0;
    text-align: center;
  }
  
  .testimonials-title {
    font-size: 2rem;
    margin-bottom: 50px;
  }
  
  .testimonial {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    margin: 20px;
    display: inline-block;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .testimonial p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .testimonial h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .testimonial p:last-child {
    font-size: 1rem;
  } 

  
  .feature-card:hover{
    transform:translateY(-5px) ;
  }


  

  



  